<main class="main" role="main"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="about-fragment">
    <div class="marked-body article-body">
        <h1 id="关于我">关于我</h1>
        <p>About me<br>
            关于我
        </p>
        <h1 id="联系我">联系我</h1>
        <ul>
            <li>邮箱：854356662@qq.com</li>
            <li>GitHub: <a href="https://github.com/cxg83843652" target="_blank" rel="noopener">https://github.com/fengkx</a>
            <li>Gitee: <a href="https://gitee.com/cxg83843652" target="_blank" rel="noopener">https://github.com/fengkx</a>
            </li>
        </ul>

    </div>


</main>
