<!-- 内容 -->
<main class="main" role="main"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="archives-fragment"
>

    <article class="content article article-archives article-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="title">归档</h1>
            <p class="text-muted">共 <span th:text="${articleTotal}"></span> 篇文章</p>
        </header>
        <div class="article-body">
            <th:block th:each="items: ${archiveMap}">
            <section class="panel panel-default b-no">
                <div class="panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" th:href="@{'#collapse' + ${items.key}}" aria-expanded="true">
                            <i class="icon icon-calendar-plus text-active"></i><i
                                class="icon icon-calendar-minus text"></i>
                            <span th:text="${items.key}">2020</span>
                        </a>
                        <!--<a href="/archives/2020" class="items-year">2020</a>-->
                    </h3>
                </div>
                <div th:id="collapse + ${items.key}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="heading2019" >
                    <div class="panel-body" >
                        <div class="collection" th:each="article: ${items.value}"2>


                            <a th:href="@{'/article/' +${article.articleId}}" class="collection-item" target="_blank"
                               itemprop="url" >
                                <time datetime="2020-04-03T10:14:39.000Z" itemprop="datePublished"
                                      th:text="${article.formatDate}">
                                    2020-04-03
                                </time>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <span th:text="${article.articleTitle}">git常用命令</span>
                            </a>



                        </div>
                    </div>
                </div>
            </section>
            </th:block>

        </div>
    </article>


</main>
