<header class="header" itemscope itemtype="http://schema.org/WPHeader" xmlns:th="http://www.thymeleaf.org"
        th:fragment="blog-left-fragment">

    <div class="slimContent" style="width: 100%;">


        <div class="navbar-header">


            <div class="profile-block text-center">
                <a id="avatar" href="https://github.com/Ruffianjiang" target="_blank">
                    <img class="img-circle img-rotate"
                         src="https://action-app-1301755467.cos.ap-guangzhou.myqcloud.com/image/timg.jpeg"
                         width="200"
                         height="200">
                </a>
                <h2 id="name" class="hidden-xs hidden-sm">actional</h2>

                    <h3 id="title" class="hidden-xs hidden-sm hidden-md"
                        th:text="${config.websiteName}">
                    </h3>

                <h3 id="title" class="hidden-xs hidden-sm hidden-md">
                    JAVA Developer
                </h3>
                <small id="location" class="text-muted hidden-xs hidden-sm"><i class="icon icon-map-marker"></i>
                    GaungDong, China
                </small>
            </div>

            <div class="search" id="search-form-wrap">

                <form class="search-form sidebar-form">
                    <div class="input-group">
                        <input type="text" class="search-form-input form-control" placeholder="Search"/>
                        <span class="input-group-btn">
                            <button type="submit" class="search-form-submit btn btn-flat" onclick="return false;">
                            <i class="icon icon-search"></i>
                        </button>
                        </span>
                    </div>
                </form>
                <div class="ins-search">
                    <div class="ins-search-mask"></div>
                    <div class="ins-search-container">
                        <div class="ins-input-wrapper">
                            <input type="text" class="ins-search-input" placeholder="Type something..."
                                   x-webkit-speech/>
                            <button type="button" class="close ins-close ins-selectable" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="ins-section-wrapper">
                            <div class="ins-section-container"></div>
                        </div>
                    </div>
                </div>


            </div>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <nav id="main-navbar" class="collapse navbar-collapse" itemscope
             itemtype="http://schema.org/SiteNavigationElement" role="navigation">
            <ul class="nav navbar-nav main-nav menu-highlight">


                <li class="menu-item menu-item-home">
                    <a th:href="@{/index}">

                        <i class="icon icon-home-fill"></i>

                        <span class="menu-title">主页</span>
                    </a>
                </li>


                <li class="menu-item menu-item-archives">
                    <a href="/archives">

                        <i class="icon icon-archives-fill"></i>

                        <span class="menu-title">归档</span>
                    </a>
                </li>

                <li class="menu-item menu-item-categories">
                    <a href="/categories">
                        <i class="icon icon-folder"></i>
                        <span class="menu-title">分类</span>
                    </a>
                </li>


                <li class="menu-item menu-item-tags">
                    <a href="/labels"><i class="icon icon-tags"></i>
                        <span class="menu-title">标签</span>
                    </a>
                </li>


                <!--<li class="menu-item menu-item-repository">
                    <a href="/repository">

                        <i class="icon icon-project"></i>

                        <span class="menu-title">Repository</span>
                    </a>
                </li>-->


                <li class="menu-item menu-item-links">
                    <a href="/links">

                        <i class="icon icon-friendship"></i>

                        <span class="menu-title">友链</span>
                    </a>
                </li>


                <li class="menu-item menu-item-about">
                    <a href="/about">

                        <i class="icon icon-cup-fill"></i>

                        <span class="menu-title">关于</span>
                    </a>
                </li>

            </ul>


            <ul class="social-links">

                <li><a href="https://github.com/Ruffianjiang" target="_blank" title="Github" data-toggle=tooltip
                       data-placement=top><i class="icon icon-github"></i></a></li>

                <li><a href="http://weibo.com/lossingdawnn" target="_blank" title="Weibo" data-toggle=tooltip
                       data-placement=top><i class="icon icon-weibo"></i></a></li>

                <li><a href="/atom.xml" target="_blank" title="Rss" data-toggle=tooltip data-placement=top><i
                        class="icon icon-rss"></i></a></li>

            </ul>

        </nav>
    </div>
</header>
